{% extends "base.html" %}

{% block title %}Dodaj Produkt{% endblock %}

{% block content %}
<div class="container">
    <h1>Dodaj Produkt</h1>
    <form method="POST" class="form-container">
        <label for="nazwa">Nazwa:</label>
        <input type="text" id="nazwa" name="nazwa" placeholder="Wprowadź nazwę produktu" required>

        <label for="kategoria">Kategoria:</label>
        <select id="kategoria" name="kategoria" required>
            <option value="" disabled selected>Wybierz kategorię</option>
            {% for kategoria in kategorie %}
            <option value="{{ kategoria }}">{{ kategoria }}</option>
            {% endfor %}
        </select>

        <label for="data_zakupu">Data zakupu:</label>
        <input type="date" id="data_zakupu" name="data_zakupu" required>

        <label for="data_waznosci">Data ważności:</label>
        <input type="date" id="data_waznosci" name="data_waznosci">

        <label for="ilosc">Ilość:</label>
        <input type="number" id="ilosc" name="ilosc" min="1" placeholder="Wprowadź ilość" required>

        <label for="cena">Cena:</label>
        <input type="number" id="cena" name="cena" step="0.01" placeholder="Wprowadź cenę" required>

        <label for="lokalizacja">Lokalizacja:</label>
        <select id="lokalizacja" name="lokalizacja" required>
            <option value="" disabled selected>Wybierz lokalizację</option>
            {% for lokalizacja in lokalizacje %}
            <option value="{{ lokalizacja }}">{{ lokalizacja }}</option>
            {% endfor %}
        </select>

        <label for="status">Status:</label>
        <select id="status" name="status" required>
            <option value="" disabled selected>Wybierz status</option>
            {% for status in statusy %}
            <option value="{{ status }}">{{ status }}</option>
            {% endfor %}
        </select>

        <button type="submit" class="button">Dodaj Produkt</button>
    </form>
</div>
{% endblock %}
