<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Produkt</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Dodaj Produkt</h1>
        <form method="POST" class="form-container">
            <label for="nazwa">Nazwa:</label>
            <input type="text" id="nazwa" name="nazwa" required>
            <!-- Reszta formularza -->
            <button type="submit" class="button">Dodaj Produkt</button>
        </form>
    </div>
</body>
</html>
