<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Strona Główna</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Zarządzanie Zakupami</h1>
        <div class="button-container">
            <a href="/dodaj" class="button">Zrobiłem zakupy</a>
            <a href="/co-mam" class="button">Co mam?</a>
            <a href="/gotuje" class="button">Gotuję</a>
        </div>
    </div>
</body>
</html>
