{% extends 'base.html' %}

{% block title %}Inventory{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th><a href="{{ url_for('main.list_products', sort_by='name', order='asc') }}">Name</a></th>
            <th>Store</th>
            <th>Category</th>
            <th><a href="{{ url_for('main.list_products', sort_by='expiry_date', order='asc') }}">Expiry Date</a></th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Location</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product['name'] }}</td>
            <td>{{ product['store'] }}</td>
            <td>{{ product['category'] }}</td>
            <td>{{ product['expiry_date'] }}</td>
            <td>{{ product['quantity'] }}</td>
            <td>{{ product['price'] }}</td>
            <td>{{ product['location'] }}</td>
            <td>{{ product['status'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
